body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Horizontal scroll ko remove karega */
  width: 100vw; /* Ensure karega ki width kabhi bhi extra na ho */
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee-scroll 50s linear infinite;
}

.marquee:hover {
  animation-play-state: paused; /* Pause effect on hover */
}

.marquee-text {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 0 0 5px rgba(255, 140, 0, 0.8), 0 0 10px rgba(255, 140, 0, 0.9),
    0 0 20px rgba(255, 140, 0, 1);
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@keyframes pulseWave {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}